<% if (winner) { %>
<div class="poll-result winner">
<% } else { %>
<div class="poll-result">
<% } %>
<% if (totalPoints > 0) { %>
  <header>
    <% if (winner) { %>
    <h2>
      <small><span class="glyphicon glyphicon-star" aria-hidden="true"></span></small>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <%= rank %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <small><span class="glyphicon glyphicon-star" aria-hidden="true"></span></small>
    </h2>
    <% } else { %>
    <h2><small><span class="glyphicon glyphicon-star" aria-hidden="true"></span></small> <%= rank %> <small><span class="glyphicon glyphicon-star" aria-hidden="true"></span></small></h2>
    <% } %>
  </header>
<% } %>
  <section>
    <div class="row">
      <div class="col-sm-9 info">
        <h3><%= title %></h3>
        <% if (description) { %>
        <p><%= description %></p>
        <% } %>
      </div>
      <div class="col-sm-3 points">
        <%= points %> point<% if (points !== 1) { %>s<% }%>
      </div>
    </div><!-- /.row -->
    <% if (totalPoints > 0) { %>
      <div class="row">
        <div class="col-xs-12">





        </div>
      </div><!-- /.row -->
    <% } %>
  </section>
</div>
